


.container {
position: relative;
width: 540px;
}

.snakephoto1 {
position: absolute;
z-index: 10;
}

.snakephoto2 {
position: absolute;
z-index: 9;
}

.snakephoto3 {
	position: absolute;
	z-index: 8;
}

.snakephoto4 {
	position: absolute;
	z-index: 7;
}

.snakephoto5 {
	position: absolute;
	z-index: 6;
}